@charset "UTF-8";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  color: #444;
}

.a {
  grid-column: 1 / span 10;
  grid-row: 1;
  background-color: #31332a;
  color: snow;
}

.border a {
  color: #82838c;
}

.collapse a {
  color: #29648a;
}
#loginMenu {
  position: absolute;
  top: 3%;
  right: 3%;
}
a.netlify-identity-logout,
a.netlify-identity-login,
a.netlify-identity-signup {
  list-style-type: none;
  display: inline;
  margin: 0 10px;
  padding: 5px;
  font-size: 18px;
  background-color: #026ee0;
  border-radius: 5px;
}
a.netlify-identity-logout:hover {
  background-color: #0355ab;
}
li.netlify-identity-item {
  list-style-type: none;
  display: inline;
}
#loginMenu a {
  color: snow;
  text-decoration-line: none;
  padding: 5px;
}
li.netlify-identity-item.netlify-identity-user-details {
  list-style-type: none;
  display: inline;
  font-size: 14px;
}
.header {
  background-color: #31332a;
  text-align: center;
  width: 100%;
  padding: 20px;
}
.title {
  font-size: 25px;
}
.breadcrumb {
  background-color: #746752;
  font-size: 16px;
  width: auto;
  color: snow;
  padding: 10px;
}
.breadcrumb li {
  padding: 0 20px;
}

.c {
  border-top: solid #876653 5px;
  background-color: #d3c9bc;
  grid-column: 1 / span 10;
  grid-row: 2 / span 2;
  height: 400px;
  padding: 80px;
}
.bookingBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g {
  grid-column: 1 / span 10;
  grid-row: 3;
  padding: 20px;
  background-color: #31332a;
  border-top: solid #876653 5px;
  color: snow;
}

.footer {
  text-align: center;
}
.footerLinks {
  display: flex;
  justify-content: center;
}

.scroll {
  /*this is a div encircling the scrollup arrow */
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #444;
  background-color: snow;
  border: solid #fffafa 2px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  text-align: center;
  padding-top: 5px;
}
.scroll:hover {
  background-color: #2e9cca;
}
#arrow {
  color: black;
}
.material-icons {
  color: #028cdb;
}
.material-icons:hover {
  color: #876653;
}
#sidebar a {
  color: #253d54;
}
#sidebar a:hover {
  color: #853131;
}

@media (min-width: 576px) and (max-width: 1200px) {
  .title {
    font-size: 20px;
  }
}
@media (max-width: 1076px) {
  li.netlify-identity-item.netlify-identity-user-details {
    display: none;
  }
  .title {
    font-size: 16px;
  }
}
